body {
	background-image: url('images/background.png');
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
}

a:hover, a:active {
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0; 
}

.mainHeader nav {
	background-color: #ACACAC;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}
 
.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	color: #FFF;
	background-color: #DCDCDC;
	text-shadow: none;
}

.mainHeader nav ul li a {
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.container {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	float: left;
}

.content1 {
	width: 100%;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content2 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.mainFooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #ACACAC;
	margin: 2% 0;
}

.mainFooter  p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}