body {
	background-image: url('images/background.png');
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
}

a:hover, a:active {
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0; 
}

.mainHeader nav {
	background-color: #ACACAC;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.menu
.menu ul,
.menu li,
.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

ul.menu {
	margin: 150 px auto 0 auto;
}

.menu {
	height: 40 px;
	width: 500px;
	background: #ACACAC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: linear-gradient(top, #ABABAB 0%, #BABABA 100%);
	background: -webkit-linear-gradient(top, #ABABAB 0%, #BABABA 100%);
	background: -moz-linear-gradient(top, #ABABAB 0%, #BABABA 100%);
}

.menu li {
	list-style: none;
	float: left;
	display: block;
	height: 40px;
	position: relative;
}

.menu li a {
	display: block;
	text-decoration: none;
	font-family: Helvetica;
	font-weight: bold;
	color: #FFF;
	font-size: 15px;
	padding: 0 15px;
	margin: 5px 0;
	line-height: 30px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
}

.menu li:first-child a {
	border-left: none; 
}

.menu li:last-child a {
	border-right: none; 
}

.menu li: hover > a {
	color: #DCDCDC;
}

.menu ul {
	position: absolute;
	opacity: 0;
	background: #DCDCDC;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: opacity .25s ease .1s;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
}

.menu li:hover > ul {
	opacity: 1px;
}

.menu ul li {
	height: 0px;
	overflow: hidden;
	padding: 0;
}

.menu li: hover > ul li {
	height: auto;
	overflow: visible;
}

.menu ul li a {
	width: 100px;
	margin: 0;
	padding: 5px 15 px;
	border: none;
	border-bottom: 1px solid #FFF;
}

.menu ul li: last-child a {
	border: none;
}

.container {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 100%;
	float: left;
}

.content1 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content2 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content3 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content4 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content5 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}
.content6{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.mainFooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #ACACAC;
	margin: 2% 0;
}

.mainFooter  p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}