body {
	background-image: url('images/background.png');
	text-align: left;
	font-family:"Helvetica", serif;
}

a {
	text-decoration: none;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0; 
}

.mainHeader nav {
	background-color: #888;
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}
 
.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav ul li ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	color: #FFF;
	background-color: #9E9E9E;
	text-shadow: none;
}

.mainHeader nav ul li a {
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.container {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#strip {
	width: 152.3%;
}

#image {
	width: 30%;
	float: right;
}

#image0 {
	float: right;
}

#image1 {
	height: 50%;
	float: right;
}

#image2 {
	height: 15%;
	float: right;
}

#image3 {
	width: 100%;
}

.content {
	width: 100%;
	float: left;
}

.content0 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content0 p {
	width: 65%;
}

.content1 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content1 p {
	width: 65%;
}

.content2 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content2 p {
	width: 65%;
}

.mainFooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #888;
	margin: 2% 0;
}

.mainFooter  p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
	font-weight: bold;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body {
		width: 90%;
		font-size: 95%;
	}
	
	.mainHeader img {
		width: 100%;
	}
	
	.mainHeader nav {
		height: 240px;
	}
	
	.mainHeader nav ul {
		padding-left: 0;
	}
	
	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}
	
	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display:block;
	}
	
}