body
{
background-image:url('background.png');
} 

ul {
     padding:1;
     margin:0;
     list-style: none;
     background:#ACACAC;
     height:50px;
}

ul li {
     float:left;
     position:relative;
}

a:link, a:visited {
     text-decoration: none;
     color: #fff;
     font-weight:bold;
}

ul li a, ul li a:visited {
     display:block;
     color:#DCDCDC;
     width:104px;
     height:auto;
     line-height:20px;
     padding:10px;
     text-align:center;
}