body {
	background-image: url('images/background.png');
	text-align: left;
}

a {
	text-decoration: none;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0; 
}

.mainHeader nav ul {
  width: 100%;
  color: #ACACAC;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.mainHeader nav ul li {
  color: #ACACAC;
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #ACACAC;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mainHeader nav ul li:hover {
  background: #DCDCDC;
  color: #DCDCDC;
}
.mainHeader nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.mainHeader nav ul li ul li { 
  background: #ACACAC; 
  display: block; 
  color: #ACACAC;
  text-shadow: 0 -1px 0 #000;
}

.mainHeader nav li ul li:hover { background: #DCDCDC; }

.mainHeader  nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.mainHeader nav a,.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	color: #FFF;
	text-shadow: none;
}

.container {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 100%;
	float: left;
}

.content1 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content2 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content3 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content4 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.content5 {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}
.content6{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.mainFooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #ACACAC;
	margin: 2% 0;
}

.mainFooter  p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}